footer.section.novi-background.bg-cover.section-sm.footer-classic.context-dark
	.container
		a.brand.wow.blurIn( href='index.html' ): +img( 'logo-inverse-2-108x124.png', { retina: true } )
		ul.contacts-modern.footer-classic-list
			li.wow.fadeInLeft: a.heading-3( href='tel:#' ) 1-800-901-234
			li.wow.fadeInRight: a.heading-3( href='mailto:#' ) info@demolink.org
		ul.list-inline.list-inline-xxl.list-social.footer-classic-list
			li: a.icon.novi-icon.mdi.mdi-facebook( href='#' )
			li: a.icon.novi-icon.mdi.mdi-instagram( href='#' )
			li: a.icon.novi-icon.mdi.mdi-youtube-play( href='#' )
		+rights